@charset "UTF-8";

div.container > article > div.brief,
div.container > article > div.content {
	position : relative;
	margin : 0 auto;
	}

div.container > article > div.brief {
	max-width : 1280px;
	text-align : center;
	color : rgba(143, 143, 143, 1);
	}

div.container > article > div.content {
	max-width : 960px;
	}
	
div.container > article strong {
	color : rgba(255, 255, 255, 1);
	}

div.container > article h1,
div.container > article h2,
div.container > article h3 {
	position : relative;
	color : rgba(255, 255, 255, 1);
	text-align : center;
	}

div.container > article h1 {	
	padding : 20px 0;
	}
	
div.container > article h2,
div.container > article h3 {	
	padding : 15px 0;
	}
	
div.container > article h1::before {
	position : absolute;
	top : 100%;
	left : calc(50% - 20px);
	z-index : 10;
	width : 40px;
	height : 5px;
	content : "";
	background-color : rgba(213, 38, 38, 1);
	}
	
div.container > article > div > ul {
	padding : 0;
	margin : 0;
	list-style : none;
	}
	
div.container > article > div > ul > li {
	position : relative;
	padding-left : 20px;
	}
	
div.container > article > div > ul > li::before {
	position : absolute;
	top : 10px;
	left : 0;
	z-index : 10;
	width : 6px;
	height : 6px;
	border-radius : 50%;
	background-color : rgba(213, 38, 38, 1);
	content : "";
	}


@media (min-width : 1401px) {
	div.container > article > div.brief,
	div.container > article > div.content {
		padding : 0 60px;
		}
		
	div.container > article > div.brief {
		font : normal 22px/32px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
	
	div.container > article > div.content {
		font : normal 20px/32px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h1 {
		font : normal 38px/38px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h2,
	div.container > article h3 {
		font : normal 30px/30px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 1041px) and (max-width : 1400px) {
	div.container > article > div.brief,
	div.container > article > div.content {
		padding : 0 50px;
		}
		
	div.container > article > div.brief {
		font : normal 20px/28px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
	
	div.container > article > div.content {
		font : normal 18px/28px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h1 {
		font : normal 36px/36px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h2,
	div.container > article h3 {
		font : normal 28px/28px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 861px) and (max-width : 1040px) {
	div.container > article > div.brief,
	div.container > article > div.content {
		padding : 0 40px;
		}
		
	div.container > article > div.brief {
		font : normal 20px/28px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
	
	div.container > article > div.content {
		font : normal 18px/28px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h1 {
		font : normal 34px/34px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h2,
	div.container > article h3 {
		font : normal 26px/26px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 481px) and (max-width : 860px) {
	div.container > article > div.brief,
	div.container > article > div.content {
		padding : 0 30px;
		}
		
	div.container > article > div.brief {
		font : normal 18px/24px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
	
	div.container > article > div.content {
		font : normal 16px/24px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h1 {
		font : normal 32px/32px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h2,
	div.container > article h3 {
		font : normal 24px/24px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (max-width : 480px) {
	div.container > article > div.brief,
	div.container > article > div.content {
		padding : 0 20px;
		}
		
	div.container > article > div.brief {
		font : normal 18px/24px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
	
	div.container > article > div.content {
		font : normal 16px/24px "Regular", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h1 {
		font : normal 30px/30px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > article h2,
	div.container > article h3 {
		font : normal 22px/22px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
	}