@charset "UTF-8";

div.container > article > div.content > img {
	display : block;
	width : 100%;
	height : auto;
	}
	
div.container > article > div.content > div.accent {
	position : relative;
	color : rgba(143, 143, 143, 1);
	}
	
div.container > article > div.content > div.accent::before {
	position : absolute;
	top : 0;
	right : 0;
	z-index : 10;
	width: calc((100vw - 100%)/2 + 100%);
	height : 100%;
	background-color : rgba(30, 30, 30, 1);
	content : "";
	}

div.container > article > div.content > div.accent > div {
	position : relative;
	z-index : 20;
	}
	
div.container > article > div.more::after,
div.container > article > div.more::before {
	position : absolute;
	top : 0;
	z-index : 10;
	height : 50px;
	font : normal 16px/40px "Regular", Arial, Tahoma, Verdana, sans-serif;
	color : rgba(78, 78, 78, 1);
	white-space : nowrap;
	}
	
div.container > article > div.more::before {
	content : "Предыдущая статья:";
	}
	
div.container > article > div.more::after {
	content : "Следующая статья:";
	}
	
div.container > article > div.gallery,
div.container > article > div.more {
	position : relative;
	min-height : 50px;
	padding-left : 50px;
	padding-right : 50px;
	margin : 30px auto;
	overflow : hidden;
	}

div.container > article > div.more > div.button,
div.container > article > div.gallery > div.button {
	position : absolute;
	z-index : 10;
	width : 50px;
	height : 50px;
	background-color : rgba(213, 38, 38, 1);
	cursor : pointer;
	}

div.container > article > div.more > div.button {
	top : 0;
	}	

div.container > article > div.gallery > div.button {
	top : calc(50% - 25px);
	}

div.container > article > div.more > div.button.prev,
div.container > article > div.gallery > div.button.prev {
	left : 0;
	transform : rotate(180deg);
	}

div.container > article > div.more > div.button.next,
div.container > article > div.gallery > div.button.next {
	right : 0;
	}

div.container > article > div.more > div.button::after,	
div.container > article > div.gallery > div.button::after {
	display : block;
	position : absolute;
	right : 1px;
	top : 0;
	z-index : 10;
	width : 50px;
	height : 50px;
	background-image : url("../img/arrow.svg?110320191457");
	background-repeat : no-repeat;
	background-position : 50% 50%;
	background-size : 11px 17px;	
	content : "";
	transition : right 0.25s ease;
	}


div.container > article > div.more > div.button:hover::after,
div.container > article > div.gallery > div.button:hover::after {
	right : -3px;
	}

div.container > article > div.more > div.swiper,
div.container > article > div.gallery > div.swiper {
	width : 100%;
	overflow : hidden;
	}

div.container > article > div.content > div.image,
div.container > article > div.gallery > div.swiper > ul,
div.container > article > div.more > div.swiper > ul {
	display : flex;
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	}
	
div.container > article > div.gallery > div.swiper > ul,
div.container > article > div.more > div.swiper > ul {
	width : 2000em;
	padding : 0;
	margin : 0;
	list-style : none;
	}
	
div.container > article > div.more > div.swiper > ul > li > a {
	color : rgba(171, 171, 171, 1);
	font : normal 18px/24px "Regular", Arial, Tahoma, Verdana, sans-serif;
	}

div.container > article > div.gallery > div.swiper > ul > li > a {
	width : inherit;
	padding-top : 60%;
	overflow : hidden;
	}

div.container > article > div.gallery > div.swiper > ul > li > a > img {
	display : block;
	width : inherit;
	height : auto;
	position : absolute;
	top : 50%;
	left : 50%;
	z-index : 5;	
	transform : translate(-50%, -50%);
	}
	
div.container > article > div.content > div.image > a {
	margin-bottom : 10px;
	}
	
div.container > article > div.content > div.image > a:not(:last-child) {
	margin-right : 10px;
	}
	
div.container > article > div.content > div.image > a > img {
	width : 100%;
	height : auto;
	}

@media (min-width : 1401px) {
	div.container > article > div.content > div.accent {
		padding : 30px;
		}
	
	div.container > article > div.gallery {
		max-width : 1280px;
		}
		
	div.container > article > div.more {
		padding-top : 50px;
		max-width : 960px;
		}
		
	div.container > article > div.more::after,
	div.container > article > div.more::before {
		display : block;
		}
		
	div.container > article > div.more::before {
		left : 110px;
		}
	
	div.container > article > div.more::after {
		right : 110px;
		}
		
	div.container > article > div.more > div.swiper > ul > li {
		padding : 0 60px;
		}
	}
	
@media (min-width : 1041px) and (max-width : 1400px) {
	div.container > article > div.content > div.accent {
		padding : 25px;
		}
	
	div.container > article > div.gallery {
		max-width : calc(100vw - 100px);
		}
		
	div.container > article > div.more {
		padding-top : 50px;
		max-width : 960px;
		}
		
	div.container > article > div.more::after,
	div.container > article > div.more::before {
		display : block;
		}
		
	div.container > article > div.more::before {
		left : 100px;
		}
	
	div.container > article > div.more::after {
		right : 100px;
		}
		
	div.container > article > div.more > div.swiper > ul > li {
		padding : 0 50px;
		}
	}
	
@media (min-width : 861px) and (max-width : 1040px) {
	div.container > article > div.content > div.accent {
		padding : 20px;
		}
	
	div.container > article > div.more,
	div.container > article > div.gallery { 
		max-width : calc(100vw - 80px);
		}
		
	div.container > article > div.more {
		padding-top : 50px;
		}
		
	div.container > article > div.more::after,
	div.container > article > div.more::before {
		display : block;
		}
		
	div.container > article > div.more::before {
		left : 90px;
		}
	
	div.container > article > div.more::after {
		right : 90px;
		}
		
	div.container > article > div.more > div.swiper > ul > li {
		padding : 0 40px;
		}
	}
	
@media (min-width : 481px) and (max-width : 860px) {
	div.container > article > div.content > div.accent {
		padding : 15px;
		}
	
	div.container > article > div.gallery { 
		max-width : 100vw;
		}
		
	div.container > article > div.more {
		max-width : calc(100vw - 60px);
		}
		
	div.container > article > div.more::after,
	div.container > article > div.more::before {
		display : none;
		}
		
	div.container > article > div.more > div.swiper > ul > li {
		padding : 0 30px;
		}
	}
	
@media (max-width : 480px) {
	div.container > article > div.content > div.accent {
		padding : 10px;
		}

	div.container > article > div.gallery {
		max-width : 100vw;
		}
		
	div.container > article > div.more {
		max-width : calc(100vw - 40px);
		}
		
	div.container > article > div.more::after,
	div.container > article > div.more::before {
		display : none;
		}
		
	div.container > article > div.more > div.swiper > ul > li {
		padding : 0 20px;
		}
	}