@charset "UTF-8";

section.form,
div.form {
	margin : 0 auto;
	}

section.form {
	max-width : 1280px;
	}
	
div.form {
	max-width : 960px;
	}
	
section.form > div.form,
div.form > form > div {	
	display : flex;
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	flex-wrap : wrap;
	-webkit-flex-wrap : wrap;
	-ms-flex-wrap : wrap;
	}
	
section.form > div.form {
	align-items : flex-end;
	-webkit-align-items : flex-end;
	-ms-align-items : flex-end;
	}
	
div.form > form > div {
	justify-content : space-between;
	-webkit-justify-content : space-between;
	-ms-justify-content : space-between;
	margin : 0 auto;
	}

div.form,	
div.form > form > div,
div.form > form > div > div,
div.form > form > div > div > ul > li {
	position : relative;
	}
	
div.form > button {
	position : absolute;
	bottom : calc(100% - 60px);
	left : calc(100% - 60px);
	z-index : 10;
    width : 40px;
    height : 40px;
    margin-bottom : 10px;
	background-color : rgba(0, 0, 0, 0);
	border : 0;
	transition : all 0.25s ease;
	}
	
div.form > button:hover {
	transform : scale(1.2);
	cursor : pointer;
	}
	
div.form > button:hover::before, 
div.form > button:hover::after {
	background-color : rgba(255, 255, 255, 1);
	}
	
div.form > button::before, 
div.form > button::after {
    position : absolute;
    top : 50%;
    left : 50%;
    background-color : rgba(88, 88, 88, 1);
    content : '.';
    text-indent : -999em;
    transform : rotate(45deg);
    overflow : hidden;
    transition : all 0.25s ease;
	}
	
div.form > button::before {
    margin : -15px 0 0 -1px;
    width : 2px;
    height : 30px;
	}
	
div.form > button::after {
    margin : -1px 0 0 -15px;
    width : 30px;
    height : 2px;
	}
	
div.form > form > div > div {
	width : 100%;
	min-width : 280px;
	}
	
div.form > form > div > div > ul {
	padding : 0;
	margin : 0;
	list-style : none;
	}
	
div.form,
div.form > form,
div.form.success > div {
	width : 100%;
	}

div.form > form > div > div > textarea,
div.form > form > div > div > ul > li > input[type=text],
div.form > form > div > div > ul > li > input[type=email],
div.form > form > div > div > ul > li > input[type=tel] {
	display : block;
	position : relative;
	z-index : 2;
	width : 100%;
	border : 1px solid rgba(88, 88, 88, 1);
	border-radius : 0;
	background-color : rgba(26, 26, 26, 1);
	}

div.form > form > div > div > ul > li > input[type=text],
div.form > form > div > div > ul > li > input[type=email],
div.form > form > div > div > ul > li > input[type=tel] {
	min-height : 40px;
	padding : 0 20px;	
	font : normal 18px/40px "Bold", Arial, Tahoma, Verdana, sans-serif;
	color : rgba(255, 255, 255, 1);
	}
	
div.form > form > div > div > textarea {
	min-height : 186px;
	padding : 16px 20px;
	font : normal 18px/24px "Regular", Arial, Tahoma, Verdana, sans-serif;
	color : rgba(143, 143, 143, 1);
	height : 100%;
	resize : none;
	}
	
div.form > form > div > div > ul > li > input[type=text] + span,
div.form > form > div > div > ul > li > input[type=email] + span,
div.form > form > div > div > ul > li > input[type=tel] + span,
div.form > form > div > div > textarea + span {
	display : block;
	position : absolute;
	bottom : 100%;
	left : 0;
	z-index : 10;
	width : 100%;
	height : 30px;
	}

div.form > form > div > div > ul > li > input + span::before,
div.form > form > div > div > textarea + span::before {
	display : block;
	position : absolute;
	top : calc(100% + 40px);
	left : 0;
	z-index : 10;
	width : 0;
	height : 3px;
	content : ".";
	text-indent : -999em;
	background-color : rgba(213, 38, 38, 1);
	transition : all 0.25s ease;
	overflow : hidden;
	}

div.form > form > div > div > ul > li > input.error + span::before {
	width : 100%;
	}

div.form > form > div > div > textarea + span > span,
div.form > form > div > div > ul > li > input[type=text] + span > span,
div.form > form > div > div > ul > li > input[type=email] + span > span,
div.form > form > div > div > ul > li > input[type=tel] + span > span { 
	display : inline-block;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 20;
	font: normal 14px/30px "Regular", Arial, Tahoma, Verdana, sans-serif;
	white-space : nowrap;
	transition : all 0.25s ease;
	}

div.form > form > div > div > textarea + span.selected > span,
div.form > form > div > div > textarea:focus + span > span,
div.form > form > div > div > ul > li > input[type=text]:focus + span > span,
div.form > form > div > div > ul > li > input[type=email]:focus + span > span,
div.form > form > div > div > ul > li > input[type=tel]:focus + span > span,
div.form > form > div > div > ul > li > input[type=text] + span.selected > span,
div.form > form > div > div > ul > li > input[type=email] + span.selected > span,
div.form > form > div > div > ul > li > input[type=tel] + span.selected > span { 
	color : rgba(255, 255, 255, 1);
	}

div.form > form > div > div > ul > li.required > span > span::after {
	position : absolute;
	top : 4px;
	left : calc(100% + 5px);
	z-index : 30;
	width : 20px;
	height : 40px;
	color : rgba(213, 38, 38, 1);
	font : normal 14px/14px Arial, Tahoma, Verdana, sans-serif;
	content : "\273b";
	}
	
div.form > form > div > div > button {
	display : block;
	position : relative;
	width : 100%;
	height : 50px;
	padding : 0;
	margin : 0;
	border : 0;
	background-color : rgba(88, 88, 88, 1);
	color : rgba(255, 255, 255, 1);
	font : normal 20px/50px "Bold", Arial, Tahoma, Verdana, sans-serif;
	text-align : center;
	white-space : nowrap;
	cursor : default;
	transition : all 0.25s ease;
	}

div.form > form > div > div > button.active {
	background-color : rgba(213, 38, 38, 1);
	cursor : pointer;
	}

div.container > div.form.order > form > div > div > button,	
div.form.consultation > form > div > div > button {
	max-width : 200px;
	}
	
div.form > div > span,
div.form > form > span,
div.form > form > h4 {
	display : block;
	color : rgba(255, 255, 255, 1);
	}
	
div.form > form > span,
div.form > div > p,
div.form > div > span,
div.form > form > p,
div.form > form > h4 {
	text-align : center;
	}


div.form > div > p,
div.form > form > p,	
div.form > form > h4 {
	position : relative;
	padding : 20px 0;
	}
	
div.form > form > h4::before {
	position : absolute;
	top : 100%;
	left : calc(50% - 20px);
	z-index : 10;
	width : 40px;
	height : 5px;
	content : "";
	background-color : rgba(213, 38, 38, 1);
	}

div.form > div > p,
div.form > form > p {
	max-width : 640px;
	margin : 0 auto;
	font : normal 18px/24px "Regular", Arial, Tahoma, Verdana, sans-serif;
	color : rgba(143, 143, 143, 1);
	}
	
div.form.success > form,
div.form > div {
	display : none;
	}
	
div.form.success > div {
	display : block;
	}

div.form > form > div > div:not(:last-child),
div.form > form > div > div > ul > li:not(:first-child) {
	margin-top : 40px;
	}

div.form > form > div > div.consent,	
div.form > form > div > div:last-child {
	margin-top : 20px !important;
	}
	
div.form > form > div > div.checkbox {
	margin : 10px 0 !important;
	}

div.form > form > div > div.checkbox,	
div.form > form > div > div.consent {
	padding : 0 0 0 40px;
	font : normal 16px/24px "Regular", Arial, Tahoma, Verdana, sans-serif;
	}

div.form > form > div > div.checkbox > input[type=checkbox],	
div.form > form > div > div.consent > input[type=checkbox] {
	display : none !important;
	}

div.form > form > div > div.checkbox > span.checkbox,	
div.form > form > div > div.consent > span.checkbox {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 1;
	width : 24px;
	height : 24px;
	background-color : rgba(26, 26, 26, 1);
	cursor : pointer;
	}
	
div.form > form > div > div.consent > span.checkbox {
	border : 1px solid rgba(213, 38, 38, 1);
	}
	
div.form > form > div > div.checkbox > span.checkbox {
	border : 1px solid rgba(88, 88, 88, 1);
	}
	
div.form > form > div > div.consent > span.checkbox.checked {
	background-color : rgba(213, 38, 38, 1);
	}

div.form > form > div > div.checkbox > span.checkbox.checked::before,	
div.form > form > div > div.consent > span.checkbox.checked::before {
	position : absolute;
	content : "";
	top : 6px;
	left : 6px;
	z-index : 20;
	width : 8px;
	height : 4px;
	content : "";
	transform : rotate(-45deg);
	}
	
div.form > form > div > div.consent > span.checkbox.checked::before {
	border-left : solid 2px rgba(255, 255, 255, 1);
	border-bottom : solid 2px rgba(255, 255, 255, 1);	
	}
	
div.form > form > div > div.checkbox > span.checkbox.checked::before {
	border-left : solid 2px rgba(213, 38, 38, 1);
	border-bottom : solid 2px rgba(213, 38, 38, 1);	
	}
	
div.form > form > div > div.consent > span > a {
	display : inline-block;
	position : relative;
	color : rgba(255, 255, 255, 1);
	text-decoration : none;
	transition : color 0.25s ease;
	}
	
div.form > form > div > div.consent > span > a:hover {
	color : rgba(213, 38, 38, 1);
	}
	
@media (min-width : 1401px) {
	section.form {
		padding : 60px;
		}
		
	div.form > div > span,
	div.form > form > span,
	div.form > form > h4 {
		font : normal 36px/36px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 1041px) and (max-width : 1400px) {
	section.form {
		padding : 50px;
		}
		
	div.form > div > span,
	div.form > form > span,
	div.form > form > h4 {
		font : normal 36px/36px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}	
	}
	
@media (min-width : 861px) and (max-width : 1040px) {
	section.form {
		padding : 40px;
		}
		
	div.form > div > span,
	div.form > form > span,
	div.form > form > h4 {
		font : normal 30px/30px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}	
	}
	
@media (min-width : 481px) and (max-width : 860px) {
	section.form {
		padding : 30px;
		}
		
	div.form > div > span,
	div.form > form > span,
	div.form > form > h4 {
		font : normal 24px/24px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (max-width : 480px) {
	section.form {
		padding : 20px;
		}
		
	div.form > div > span,
	div.form > form > span,
	div.form > form > h4 {
		font : normal 24px/24px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 861px) {
	div.container > div.form.order > form > div > div,
	div.form.consultation > form > div > div {
		width : 48%;
		}
	}