@charset "UTF-8";

div.container > section.map > div {
	position : relative;
	width : 100%;
	max-width : 1280px;
	margin : 0 auto;	
	}

div.container > section.map > div > h4 {
	color : rgba(255 , 255 , 255, 1);
	text-align : center;
	}
	
div.container > section.map > div.map {
	overflow : hidden;
	}
	
div.container > section.map > div.map > div {
	position : absolute;
	top : 0;
	left : 0;
	z-index : 10;
	width : 100%;
	height : calc(100% + 40px);
	}
	
div.zoom {
	position : absolute;
    left : 20px;
	}

div.zoom > div {
    position : relative;
    margin-bottom : 10px;
    width : 40px;
    height : 40px;
	background-color : rgba(255 , 255 , 255, 1);
    cursor : pointer;
    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.25);
    transition : all 0.25s ease;
	}
	
div.zoom > div::before, 
div.zoom > div::after {
    position : absolute;
    top : 50%;
    left : 50%;
    margin : -1px 0 0 -8px;
    width : 16px;
    height : 2px;
    background-color : rgba(213, 38, 38, 1);
    content : '.';
    text-indent : -999em;
    overflow : hidden;
    transition : all 0.25s ease;
	}
	
div.zoom > div.in::before {
    margin : -8px 0 0 -1px;
    width : 2px;
    height : 16px;
	}
	
div.zoom > div:hover {
	background-color : rgba(213, 38, 38, 1);
	}
	
div.zoom > div:hover::before, 
div.zoom > div:hover::after {
	background-color : rgba(255 , 255 , 255, 1);
	}
	
div.container > section.map > div > ul {
	display : flex;
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	margin : 0;
	padding : 0;
	list-style : none;
	}
	
div.container > section.map > div > strong {
	display : block;
	border-bottom : solid 1px rgba(78, 78, 78, 1);
	color : rgba(255 , 255 , 255, 1);
	font : normal 22px/24px "Bold", Arial, Tahoma, Verdana, sans-serif;
	}

div.container > section.map > div > ul > li {	
	font : normal 18px/24px "Regular", Arial, Tahoma, Verdana, sans-serif;
	color : rgba(143, 143, 143, 1);
	}
	
div.container > section.map > div > ul > li > p {
	padding : 20px 0 0 0;
	margin : 0;
	}

div.container > section.map > div > ul > li > a,
div.container > section.map > div > ul > li > span {
	font : normal 16px/20px "Regular", Arial, Tahoma, Verdana, sans-serif;
	}

div.container > section.map > div > ul > li > span {	
	color : rgba(78, 78, 78, 1);
	}
	
div.container > section.map > div > ul > li > a {
	color : rgba(213, 38, 38, 1);
	}
	
@media (min-width : 1401px) {
	div.container > section.map {
		padding : 60px 60px 0 60px;
		}
	
	div.container > section.map > div > h4 {
		font : normal 36px/36px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > section.map > div.map {
		margin-top : 60px;
		height : 640px;
		}
		
	div.zoom {
		bottom : -510px;
		}
		
	div.container > section.map > div > strong {
		padding : 60px 0 30px 0;
		}
		
	div.container > section.map > div > ul > li {
		padding-top : 30px;
		}
				
	div.container > section.map > div > ul > li:last-child {
		width : calc(33.3333% - 60px);
		}
		
	div.container > section.map > div > ul > li:not(:last-child) {
		width : calc(33.3333% + 30px);
		padding-right : 30px;
		}
	}

@media (min-width : 1041px) and (max-width : 1400px) {
	div.container > section.map {
		padding : 50px 50px 0 50px;
		}
		
	div.container > section.map > div > h4 {
		font : normal 36px/36px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > section.map > div.map {
		margin-top : 50px;
		height : 560px;
		}
		
	div.zoom {
		bottom : -430px;
		}
		
	div.container > section.map > div > strong {
		padding : 50px 0 25px 0;
		}
		
	div.container > section.map > div > ul > li {
		padding-top : 25px;
		}
		
	div.container > section.map > div > ul > li:last-child {
		width : calc(33.3333% - 50px);
		}
		
	div.container > section.map > div > ul > li:not(:last-child) {
		width : calc(33.3333% + 25px);
		padding-right : 25px;
		}
	}

@media (min-width : 861px) and (max-width : 1040px) {
	div.container > section.map {
		padding : 40px 40px 0 40px;
		}
		
	div.container > section.map > div > h4 {
		font : normal 30px/30px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > section.map > div.map {
		margin-top : 40px;
		height : 480px;
		}
		
	div.zoom {
		bottom : -310px;
		}

	div.container > section.map > div > strong {
		padding : 40px 0 20px 0;
		}
		
	div.container > section.map > div > ul > li {
		padding-top : 20px;
		}
		
	div.container > section.map > div > ul > li:last-child {
		width : calc(33.3333% - 40px);
		}
		
	div.container > section.map > div > ul > li:not(:last-child) {
		width : calc(33.3333% + 20px);
		padding-right : 20px;
		}
	}

@media (min-width : 481px) and (max-width : 860px) {
	div.container > section.map {
		padding : 30px 30px 0 30px;
		}
		
	div.container > section.map > div > h4 {
		font : normal 24px/24px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > section.map > div.map {
		margin-top : 30px;
		height : 400px;
		}
		
	div.zoom {
		bottom : -270px;
		}
		
	div.container > section.map > div > strong {
		padding : 30px 0 15px 0;
		}

	div.container > section.map > div > ul {
		flex-wrap : wrap;
		-webkit-flex-wrap : wrap;
		-ms-flex-wrap : wrap;
		}
		
	div.container > section.map > div > ul > li {
		width : 100%;
		padding-top : 15px;
		}
	}

@media (max-width : 480px) {
	div.container > section.map {
		padding : 20px 20px 0 20px;
		}
		
	div.container > section.map > div > h4 {
		
		font : normal 24px/24px "Bold", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > section.map > div.map {
		margin-top : 20px;
		height : 320px;
		}
		
	div.zoom {
		bottom : -190px;
		}
		
	div.container > section.map > div > strong {
		padding : 20px 0 10px 0;
		}

	div.container > section.map > div > ul {
		flex-wrap : wrap;
		-webkit-flex-wrap : wrap;
		-ms-flex-wrap : wrap;
		}
		
	div.container > section.map > div > ul > li {
		width : 100%;
		padding-top : 10px;
		}
	}